<!DOCTYPE html>
<html>

    <div id="username-page">
        <span id="usernameAuth" th:text="${username}" th:value="${username}" name="usernameAuth"></span>
        <div class="username-page-container">
            <form id="usernameForm" name="usernameForm">
                <div class="form-group">
                    <button type="submit" class="accent username-submit">Connect</button>
                </div>
            </form>
        </div>
    </div>

    <div id="room-page">
        <div class="room-page-container">
            <h1 class="title">Type room</h1>
            <form id="roomForm" name="roomForm">
                <div class="form-group">
                    <input type="text" id="roomName" name="roomName" placeholder="RoomName" autocomplete="off" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="accent room-submit">Create room</button>
                </div>
            </form>
        </div>
    </div>

    <div id="chat-page" class="hidden">
        <div class="chat-container">
            <div class="chat-header">
                <h2>CHAT WINDOW</h2>
            </div>
            <div class="connecting">
                Connecting...
            </div>
            <ul id="messageArea">

            </ul>
            <form id="messageForm" name="messageForm" nameForm="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>